
* {
    background-color: rgb(218, 205, 179);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    
}

#food-banner {
    display: block;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    width: auto;
    height: auto;
    align-content: center;
}

.header {
    margin-left: 108px;
    margin-top: 64px;
    margin-bottom: 0%;
}

.para {
    margin-left: 36px;
    margin-right: 100px;
}

.indent {
    text-indent: 32px;
}

.ulist {
    margin-left: 48px;

}

.list {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 100px;
}

.listimg {
    width: 226px;
    height: auto;
}